body {
    background-color: #B34440;
}

main {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 260px;
    margin: 5px;
    color: White;
    animation-name: change;
    animation-duration: 5s;
}

p,
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: none;
    color: White;
    font-size: 20px;
    animation-name: change;
    animation-duration: 2s;
}

section:last-child {
    margin-top: 50px;
}

a {
    color: #662725;
    background-color: white;
    padding: 15px;
    animation-name: goBack;
    animation-duration: 2s;
}

a:hover {
    color: white;
    background-color: #662725;
    font-weight: bold;
}

@keyframes change {
    from {
        color: #B34440;
    }
    to {
        color: white
    }
}

@keyframes goBack {
    from {
        background-color: #B34440;
        color: #B34440;
    }
    to {
        background-color: white;
        color: #662725;
    }
}